.ynfeed_popup {
	width: auto;
	padding: 8px;
}
.ynfeed_feed_popup_bottom
{
	float: none!important;
}
#global_page_ynfeed-custom-list-edit .ynfeed_feed_popup_bottom#buttons-element > button,
#global_page_ynfeed-custom-list-edit .ynfeed_feed_popup_bottom#buttons-element > a
{
	width: 31%;
	padding: 0 5px;
}
#global_page_ynfeed-custom-list-edit .ynfeed_feed_popup_bottom#buttons-element > a
{
	margin-left: -27px;
}
.feed_attachment_advalbum_photo:last-child{
	a{
		position: relative;
	}
}
.ynadvalbum_more_photos_parent{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0.8em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	.ynadvalbum_more_photos{
		font-weight: normal;
		font-size: 24px;
		color: #fff;
	}
}

 ul.feed{
    .feed_attachment_advalbum_photo{
        box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
        width: 25%;
        float: left;
        padding: 2px;
        & > div:first-of-type{
            margin: 0;
            width: 100%;
            & > a{
            	font-size: 0;
            	outline: 1px solid $theme_border_medium_color;
                outline-offset: -1px;
                margin: 0 !important;
                width: 100%;
                padding-bottom: 0 !important;
                img{
                    border: 0;
                    box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
                    width: 100%;
                    max-width: none;
                    max-height: none;
                }
            }
        }
    }
    
    .feed_attachment_advalbum_photo:first-child:nth-last-child(8),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(8) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(5) ~ span{
        width: 25%;
    }
    .feed_attachment_advalbum_photo:first-child:nth-last-child(2),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(2) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(4),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(4) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(3) ~ span{
        width: 50%;
    }
    .feed_attachment_advalbum_photo:first-child:nth-last-child(7),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(5),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(3),
    .feed_attachment_advalbum_photo:first-of-type{
        width: 100%;
    }
    .feed_attachment_advalbum_photo:first-child:nth-last-child(6),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(6) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(7) ~ span{
        width: 33.33%;
    }
    .feed_attachment_advalbum_photo:nth-child(5){
        display: inline-block !important;
    }
 }
 ul.feed div.feed_item_attachments{
    padding: 16px;
}
.feed_attachment_advalbum_photo:last-child{
    a{
        position: relative;
    }
}
.ynadvalbum_more_photos_parent{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0.8em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    .ynadvalbum_more_photos{
        font-weight: normal;
        font-size: 24px;
        color: #fff;
    }
}

 ul.feed{
    .feed_attachment_advalbum_photo{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 25%;
        float: left;
        padding: 2px;
        & > div:first-of-type{
            margin: 0;
            width: 100%;
            & > a{
                font-size: 0;
                outline: 1px solid $theme_border_medium_color;
                outline-offset: -1px;
                margin: 0 !important;
                width: 100%;
                padding-bottom: 0 !important;
                img{
                    border: 0;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 100%;
                    max-width: none;
                    max-height: none;
                }
            }
        }
    }
    .feed_attachment_advalbum_photo:nth-child(9) ~ span{
        display: none;
    }
    .feed_attachment_advalbum_photo:first-child:nth-last-child(8),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(8) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(5) ~ span{
        width: 25%;
    }
    .feed_attachment_advalbum_photo:first-child:nth-last-child(2),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(2) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(4),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(4) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(3) ~ span{
        width: 50%;
    }
    .feed_attachment_advalbum_photo:first-child:nth-last-child(7),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(5),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(3),
    .feed_attachment_advalbum_photo:first-of-type{
        width: 100%;
    }
    .feed_attachment_advalbum_photo:first-child:nth-last-child(6),
    .feed_attachment_advalbum_photo:first-child:nth-last-child(6) ~ span,
    .feed_attachment_advalbum_photo:first-child:nth-last-child(7) ~ span{
        width: 33.33%;
    }
 }